{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Secteur list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Libelle</th>
                <th>Depart</th>
                <th>Arrivee</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('secteur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <ul>
                    {% for item in entity.typePrestations %}
                        <li> {{ item }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ entity.libelle }}</td>
                <td>{{ entity.depart }}</td>
                <td>{{ entity.arrivee }}</td>
                <td>
                        <div class="col-md-2">
                         <a href="{{ path('secteur_show', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonAfficher" title="Afficher" src="{{ asset('bundles/fdradmin/images/apercu.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;
                        
                        <div class="col-md-2">
                         <a href="{{ path('secteur_edit', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonModifier" title="Modifier" src="{{ asset('bundles/fdradmin/images/modifier.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;

                        <div class="col-md-2">
                        
                        {{ form_widget(form[entity.id]) }}
                        </div>
                        &nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('secteur_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
