{% extends '::base.html.twig' %}
{% block title %}Secteur|New{% endblock %}
{% block body -%}
<div class="page-header"><h1> Ajout d'un Secteur</h1></div>



{{ form_start(form) }}
<div class="row">
<span class="alert-danger ">{{ form_errors(form) }}</span>
</div>

<div class="row">

<div class="span6 offset3">

<fieldset>
<legend>Formulaire d'ajout</legend>

<div class="row-fluid">
<div class="span5">{{ form_label(form.libelle," Libelle ") }}</div>
{{ form_widget(form.libelle) }}<span class="alert-danger ">{{ form_errors(form.libelle) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.depart," Depart ") }}</div>
{{ form_widget(form.depart) }}<span class="alert-danger ">{{ form_errors(form.depart) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.arrivee," Arrivee ") }}</div>
{{ form_widget(form.arrivee) }}<span class="alert-danger ">{{ form_errors(form.arrivee) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.ville," Ville ") }}</div>
{{ form_widget(form.ville) }}<span class="alert-danger ">{{ form_errors(form.ville) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.typePrestations," Type de Prestation ") }}</div>
{{ form_widget(form.typePrestations) }}<span class="alert-danger ">{{ form_errors(form.typePrestations) }}</span>
</div>

</fieldset>

</div>
</div>
{{ form_end(form) }}
{% endblock %}

