{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TypeConsommation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Agence</th>
                <th>Produit</th>
                <th>Prixunitaire</th>
                <th>Champsup1</th>
                <th>Champsup2</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('typeconsommation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.agence }}</td>
                <td>{{ entity.produit }}</td>
                <td>{{ entity.prixUnitaire }}</td>
                <td>{{ entity.champSup1 }}</td>
                <td>{{ entity.champSup2 }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('typeconsommation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('typeconsommation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('typeconsommation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
