{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TypeConsommation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Agence</th>
                <td>{{ entity.agence }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ entity.produit }}</td>
            </tr>
            <tr>
                <th>Prixunitaire</th>
                <td>{{ entity.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>Champsup1</th>
                <td>{{ entity.champSup1 }}</td>
            </tr>
            <tr>
                <th>Champsup2</th>
                <td>{{ entity.champSup2 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('typeconsommation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('typeconsommation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
