{% extends '::base.html.twig' %}
{% block title %}Type de Consommation|Show{% endblock %}
{% block body -%}
<div class="page-header"><h1> Affichage d'un Type de Consommation</h1></div>



{{ form_start(form) }}
<div class="row">
<span class="alert-danger ">{{ form_errors(form) }}</span>
</div>

<div class="row">

<div class="span6 offset3">

<fieldset>
<legend></legend>

<div class="row-fluid">
<div class="span5">{{ form_label(form.id," Identifiant ") }}</div>
{{ form_widget(form.id) }}<span class="alert-danger ">{{ form_errors(form.id) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(edit_form.type," Type ") }}</div>
{{ form_widget(edit_form.type) }}<span class="alert-danger ">{{ form_errors(edit_form.type) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.agence," Agence ") }}</div>
{{ form_widget(form.agence) }}<span class="alert-danger ">{{ form_errors(form.agence) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.produit," Produit ") }}</div>
{{ form_widget(form.produit) }}<span class="alert-danger ">{{ form_errors(form.produit) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.prixUnitaire," Prix Unitaire ") }}</div>
{{ form_widget(form.prixUnitaire) }}<span class="alert-danger ">{{ form_errors(form.prixUnitaire) }}</span>
</div>


</fieldset>

</div>
</div>
{{ form_end(form) }}
{% endblock %}

