{% extends '::base.html.twig' %}
{% block title %}Peage|Accueil{% endblock %}
{% block body -%}
    <h1>Peage list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numcarte</th>
                <th>Datepassage</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('peage_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numCarte }}</td>
                <td>{% if entity.datePassage %}{{ entity.datePassage|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.montant }}</td>
                <td>
                        <div class="col-md-2">
                         <a href="{{ path('peage_show', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonAfficher" title="Afficher" src="{{ asset('bundles/fdradmin/images/apercu.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;
                        
                        <div class="col-md-2">
                         <a href="{{ path('peage_edit', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonModifier" title="Modifier" src="{{ asset('bundles/fdradmin/images/modifier.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;

                        <div class="col-md-2">
                        
                        {{ form_widget(form[entity.id]) }}
                        </div>
                        &nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('peage_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
