<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="ismailkomay"/>
        <meta name="author" content="ismailkomay"/>
        <title>{% block title %}Welcome{% endblock %}</title>
		{% block stylesheets %}
        {% stylesheets 'bundles/fdradmin/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
         {% block body %}{% endblock %}
         {% block javascripts %}
         {% javascripts '@FdrAdminBundle/Resources/public/js/*' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
         {% endjavascripts %}
         {% endblock %}
    
         {% block footer %}
         <footer>
         <div class="row">
              <div class="span2">  
              <div class="pull-left">    
            &copy; Copyright {{"now"|date('Y')}} / <a href="http://www.ctm-messagerie.ma/" title="Komay">CTM Messagerie</a>.        
              </div>
              </div>
              <div class="span1 offset9">
              <a id="opener" class="pull-right">
              <img src="{{ asset('bundles/fdradmin/images/help.png') }}" alt="User Manuel" title="User Manuel-Cliquer " />
              </a>
              <div id="usermanuel" title="User Manuel">Ici nous allons afficher un manuel d'utilisation
              <a href="mailto:ism.assal@gmail.com">Pour plus d'info.</a>
              <br />
              A bientot.
              <img src="{{ asset('bundles/fdradmin/images/ctm.png') }}" alt="CTM" title="CTM ME" />
              </div>
              </div>
         </div>

          </footer>
         {% endblock %}
    </div>
    </body>
</html>