{% extends '::base.html.twig' %}
{% block title %}Modication|Show{% endblock %}
{% block body -%}
    <h1>Modification</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ entity.motif }}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{{ entity.dateMaj|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ entity.remarque }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('modification') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('modification_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
