{% extends '::base.html.twig' %}
{% block title %}BonCarburantHuile|Accueil{% endblock %}
{% block body -%}
    <div class="page-header"><h2> Liste des bons de carburant</h2></div>
  <div class="row">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Feuille De Route</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Quantite(Litres)</th>
                <th>Montant(Dhs)</th>
                <th>Compteur(Km)</th>
                <th>Type de Consommation</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('boncarburanthuile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.feuilleDeRoute|default('-----') }}</td>
                <td>{{ entity.lieu|default('-----') }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y/m/d H:i:s') }}{% endif %}</td>
                <td>{{ entity.quantite|default('-----') }}</td>
                <td>{{ entity.montant|default('-----')  }}</td>               
                
                <td>{{ entity.compteur }}</td>
                <td>{{ entity.typeConsommation|default('-----') }}</td> 
                
                <td>
                        <div class="col-md-2">
                         <a href="{{ path('boncarburanthuile_show', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonAfficher" title="Afficher" src="{{ asset('bundles/fdradmin/images/apercu.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;
                        
                        <div class="col-md-2">
                         <a href="{{ path('boncarburanthuile_edit', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonModifier" title="Modifier" src="{{ asset('bundles/fdradmin/images/modifier.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;

                        <div class="col-md-2">
                        
                        {{ form_widget(form[entity.id]) }}
                        </div>
                        &nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

              <div id="supprimerBonConfrmm" title="User Manuel">
              </div>
              
        <ul>
        <li>
            <a href="{{ path('boncarburanthuile_new') }}">
                Ajouter
            </a>
        </li>
    </ul>
    {% endblock %}
