{% extends '::base.html.twig' %}
{% block title %}BonCarburantHuile|Show{% endblock %}
{% block body -%}
<div class="page-header"><h1> Affichage d'un BonCarburantHuile</h1></div>

{{ form_start(form) }}
<div class="desactiver-champs">
<div class="row">

<span class="alert-danger ">{{ form_errors(form) }}</span>
</div>

<div class="row">
<div class="span6 offset3">

<fieldset>
<legend></legend>

<div class="row-fluid">
<div class="span5">{{ form_label(form.id," Identifant ") }}</div>
{{ form_widget(form.id) }}<span class="alert-danger ">{{ form_errors(form.id) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.lieu," Lieu de station ") }}</div>
{{ form_widget(form.lieu) }}<span class="alert-danger ">{{ form_errors(form.lieu) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.date," Date de passage ") }}</div>
{{ form_widget(form.date) }}<span class="alert-danger ">{{ form_errors(form.date) }}</span>
</div>


<div class="row-fluid">
<div class="span5">{{ form_label(form.quantite," Quantité ") }}</div>
{{ form_widget(form.quantite) }}<span class="alert-danger ">{{ form_errors(form.quantite) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.montant," Montant ") }}</div>
{{ form_widget(form.montant) }}<span class="alert-danger ">{{ form_errors(form.montant) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.compteur," Compteur d'avant ") }}</div>
{{ form_widget(form.compteur) }}<span class="alert-danger ">{{ form_errors(form.compteur) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.feuilleDeRoute," Feuille de Route") }}</div>
{{ form_widget(form.feuilleDeRoute) }}<span class="alert-danger ">{{ form_errors(form.feuilleDeRoute) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.typeConsommation," Type de Consommation") }}</div>
{{ form_widget(form.typeConsommation) }}<span class="alert-danger ">{{ form_errors(form.typeConsommation) }}</span>
</div>

</fieldset>
</div>
</div>
</div>  
{{ form_end(form) }}
{% endblock %}

