{% extends '::base.html.twig' %}
{% block title %}Indisponibilite|Edit{% endblock %}
{% block body -%}
<div class="page-header"><h1> Modification d'une Indisponibilite</h1></div>



{{ form_start(edit_form) }}
<div class="row">
<span class="alert-danger ">{{ form_errors(edit_form) }}</span>
</div>

<div class="row">

<div class="span6 offset3">

<fieldset>
<legend>Formulaire de modification</legend>

<div class="row-fluid">
<div class="span5">{{ form_label(edit_form.chauffeur," Chauffeur ") }}</div>
{{ form_widget(edit_form.chauffeur) }}<span class="alert-danger ">{{ form_errors(edit_form.chauffeur) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(edit_form.motif," Motif ") }}</div>
{{ form_widget(edit_form.motif) }}<span class="alert-danger ">{{ form_errors(edit_form.motif) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(edit_form.datedebut," Date de début ") }}</div>
{{ form_widget(edit_form.datedebut) }}<span class="alert-danger ">{{ form_errors(edit_form.datedebut) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(edit_form.datefin," Date de fin ") }}</div>
{{ form_widget(edit_form.datefin) }}<span class="alert-danger ">{{ form_errors(edit_form.datefin) }}</span>
</div>


</fieldset>

</div>
</div>
{{ form_end(edit_form) }}
{% endblock %}

