{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Indisponibilite</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ entity.motif }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ entity.datedebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.datefin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Champssupp1</th>
                <td>{{ entity.champssupp1 }}</td>
            </tr>
            <tr>
                <th>Champssupp2</th>
                <td>{{ entity.champssupp2 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('indisponibilite') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('indisponibilite_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
