{% extends '::base.html.twig' %}
{% block title %}Chauffeur|Accueil{% endblock %}
{% block body -%}
    <div class="page-header"><h2> Liste des Chauffeurs</h2></div>
  <div class="row">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>CIN</th>
                <th>Adresse</th>
				<th>Disponibilite</th>
                <th>Date d'embauche</th>
                <th>Type de Convention</th>
				<th>Etat de contrat</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('chauffeur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom|default('-----') }}</td>
                <td>{{ entity.prenom|default('-----') }}</td>
                <td>{% if entity.tel %}{{ entity.date|date('Y/m/d H:i:s') }}{% endif %}</td>
                <td>{{ entity.cin|default('-----') }}</td>
                <td>{{ entity.adresse|default('-----')  }}</td>               
                <td>
                {% if entity.disponibilite %}
                <input type="checkbox" disabled readonly checked />
                {%else %}
                <input type="checkbox" disabled readonly />
                {%endif %}
                </td>
                <td>{{ entity.dateembauche }}</td>
                <td>{{ entity.typeConvention|default('-----') }}</td> 
                <td>{{ entity.etatContrat|default('-----') }}</td> 
				
                <td>
                        <div class="col-md-2">
                         <a href="{{ path('chauffeur_show', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonAfficher" title="Afficher" src="{{ asset('bundles/fdradmin/images/apercu.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;
                        
                        <div class="col-md-2">
                         <a href="{{ path('chauffeur_edit', { 'id': entity.id }) }}">
                         <button title="Afficher" type="submit">
                         <img id="inputButtonModifier" title="Modifier" src="{{ asset('bundles/fdradmin/images/modifier.png') }}" />
                         </button>
                         </a> 
                        </div>
                        &nbsp;&nbsp;

                        <div class="col-md-2">
                        
                        {{ form_widget(form[entity.id]) }}
                        </div>
                        &nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

              
        <ul>
        <li>
            <a href="{{ path('chauffeur_new') }}">
                Ajouter
            </a>
        </li>
    </ul>
    {% endblock %}
