{% extends '::base.html.twig' %}
{% block title %}Manutentionnaire|New{% endblock %}
{% block body -%}
<div class="page-header"><h1> Ajout d'un Manutentionnaire</h1></div>



{{ form_start(form) }}
<div class="row">
<span class="alert-danger ">{{ form_errors(form) }}</span>
</div>

<div class="row">

<div class="span6 offset3">

<fieldset>
<legend>Formulaire de modification</legend>

<div class="row-fluid">
<div class="span5">{{ form_label(form.nom," Nom ") }}</div>
{{ form_widget(form.nom) }}<span class="alert-danger ">{{ form_errors(form.nom) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.prenom," Prenom ") }}</div>
{{ form_widget(form.prenom) }}<span class="alert-danger ">{{ form_errors(form.prenom) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.matricule," Matricule ") }}</div>
{{ form_widget(form.matricule) }}<span class="alert-danger ">{{ form_errors(form.matricule) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.type," Adresse ") }}</div>
{{ form_widget(form.type) }}<span class="alert-danger ">{{ form_errors(form.type) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.cin," CIN ") }}</div>
{{ form_widget(form.cin) }}<span class="alert-danger ">{{ form_errors(form.cin) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.tel," Telephone ") }}</div>
{{ form_widget(form.tel) }}<span class="alert-danger ">{{ form_errors(form.tel) }}</span>
</div>

<div class="row-fluid">
<div class="span5">{{ form_label(form.adresse," Adresse ") }}</div>
{{ form_widget(form.adresse) }}<span class="alert-danger ">{{ form_errors(form.adresse) }}</span>
</div>



</fieldset>

</div>
</div>
{{ form_end(form) }}
{% endblock %}

